/* Global styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d5dcf1;
}

/* Header styles */
.navbar{
  width: 100vw;
  height: 100vh;
  background-color: #333;
  float: left;
  position: fixed;
  top: -230px;
  display: none;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  background: #3E54AC;
  color: #fff;
  transition: all 0.5s ease;
  height: 130px;
  min-height: 80px;
  width: 100vw;
  display: flex;
}

.banner{
  margin-left: 30px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.banner img{
  opacity: 50%;
  width: 100%;
}

.header .logo img{
  max-height: 100%;
  padding: 30px;
}

.logo{
  display: flex;
  justify-content: center;
  height: 100%;
  vertical-align: middle;
  width: fit-content;
  left: 0px;
  margin-left: 10px;
}

/* Header Transparent*/
.headertransp {
  position: fixed;
  top: 0;
  backdrop-filter: blur(8px);
  background: rgba(62, 84, 172, 0.4);
  transition: all 0.5s ease;
  height: 100px;
  width: 100vw;
}

h1 {
  margin: 0;
}

.nav {
  position: absolute;
  top: 95px;
  right: 100px;
  background-color: #3A1078;
  color: #fff;
  height: 70px;
  padding: 0 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
  
}

.nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
}

.nav ul li {
  display: inline-block;
  margin: 10px;
  transition: all 0.5s ease;
}

#Beranda{
  background-color: #655DBB;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.nav ul li a{
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

.nav ul li:hover{
  background-color: #7e7a7a;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.navscroll {
  position: absolute;
  top: 65px;
  right: 100px;
  background-color: #3A1078;
  color: #fff;
  height: 70px;
  padding: 0 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
  
}

.more{
  cursor: pointer;
  background-color: #655DBB;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 30px;
  font-size: 30px;
  color: rgb(238, 229, 229);
  font-family: 'Archivo Narrow', sans-serif;
  
  text-decoration: none;
  transition: all 0.5s ease;
  font-weight: 1000;
}

.more:hover{
  background-color: #a49fea;
  transition: all 0.5s ease;
}


/* Main styles */
main {
  margin-top: 230px;
  max-width: 800px;
  min-height: 80vh;
}

section {
  margin-bottom: 2em;
}

.welcome{
  height: 650px;
  width: 100vw;
  background-image: url('./img/welcomehead.jpg');
  overflow: hidden;
}

.intro{
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  width: 100vw;
  font-size: 60pt;
}

.startbutton{
  display: flex;
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
  width: 100vw;
  font-size: 30pt;
}

.startbutton p{
  background-color: #7e7a7a;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}

/*Bagan onanogram*/
.onanogram{
  display: flex;
  margin-top: 60px;
  height: 500px;
  width: 100vw;
  background-color: white;
}

.textonanogram2{
  display: none;
}

.textonanogram{
  float: left;
  width: 100%;
  padding-top: 90px;
  padding-left: 90px;
  padding-right: 60px;
  padding-bottom: 90px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sambutan{
  height: 90%;
  line-height: 1.2;
}

.onanogrambutton{
  display: flex;
  bottom: 0;
}

.onanogrambutton2{
  display: none;
}

.onanogrambutton a{
  background-color: #655DBB;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
  max-width: fit-content;
  border-radius: 30px;
  transition: all 0.5s ease;
  font-family: 'Almarai', sans-serif;

}

.onanogrambutton a:hover{
  background-color: #a49fea;
  transition: all 0.5s ease;
}

.ImageHero{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-right: 30px;
}

.ImageHero img{
  border-radius: 100%;
  height: 70%;
  margin: auto;
}

/*slides*/
.slidersec{
  margin-top: 60px;
  width: 100vw;
  height: 600px;
  background-image: url('./img/sildesbackground.jpg');
  overflow: hidden;
  display: flex;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
  display: block;
}

.slide img{
  width: 800px;
  height: 500px;
}

.stextcontainer{
  width: 100%;
  height: 100%;
  margin-top: -200px;
  background-color: #141c4d;
  opacity: 50%;
  display: none;
}

.navigation-manual{
  z-index: 0;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}


#slide1:checked ~ .first{
  margin-left: 0;
}

#slide2:checked ~ .first{
  margin-left: -20%;
}

#slide3:checked ~ .first{
  margin-left: -40%;
}

#slide4:checked ~ .first{
  margin-left: -60%;
}

.navigation-auto{
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
  z-index: 0;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;

}

#slide1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#slide2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#slide3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#slide4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

/*Bagan jurusan*/
.majors{
  display: flex;
  margin-top: 60px;
  height: 800px;
  width: 100vw;
  min-height: fit-content;
  background-color: white;
  align-items: center;
  align-self: center;
}

.majorcont{
  margin: auto;
  display: block;
  max-width: 1000px;
  width: 90vw;
  height: 60%;
  margin-top: 100px;
}

.majortitle{
  display: flex;
  height: 20%;
}

.majortitle p{
  margin: auto;
  font-size: 50px;
  padding: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 70;
}

.rowmajor1{
  margin-top: 40px;
  width: 100%;
  height: 70%;
  display: flex;
}

.rowmajor2{
  display: none;
  width: 100%;
  height: 40%;
}

.mcards{
  height: 100%;
  width: 25%;
  display: flex;
}

.mcard{
  background-color: rgb(239, 236, 255);
  border-color: #9182a5;
  width: 80%;
  height: 80%;
  margin:auto;
  border-radius: 5%;
  border-style: solid;
  border-width: 4px;
  overflow: hidden;
  transition: all 0.5s ease;
  display: block;
}

.mcard:hover{
  width: 100%;
  height: 85%;
  transition: all 0.5s ease;
}

.micon{
  display: flex;
  width: 100%;
  height: 60%;
}

.mtitle{
  width: 100%;
  height: 30%;
  fill:#4a4646;
  display: block;
}

.textprd{
  width: 100%;
  height: 20%;
  margin: auto;
}

.textprd h5{
  width: 100%;
  text-align: center;
  font-size: 70%;
  margin: 0; 
}

.eng{
  width: 100%;
  height: 30%;
}

.eng h4{
  width: 100%;
  text-align: center;
  font-size: 90%;
}

.micon img{
  height: 50%;
  margin: auto;
}

.test{
  height: 1000px;
}

/* Footer styles */
footer {
  margin-top: 60px;
  background-color: #3A1078;
  color: #fff;
  padding: 1em;
  text-align: center;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typing-cursor {
  font-weight: bold;
  animation: blink 1s infinite;
  color: white;
}

#typing-text {
  padding-top: 50px;
  color: white; 
  font-family: 'Inconsolata', monospace;
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

/* FAQ */

.faqsec{
  display: flex;
  margin-top: 60px;
  height: 800px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  align-items: center;
  align-self: center;
}

.faqhero{
  height: 100%;
  width: 30%;
  background-color: #22329d;
  display: flex;
  min-width: 400px;
}

.faqtext{
  color: white;
  font-weight: 400;
  margin: auto;
  font-size: 70px;
  font-family: 'Schibsted Grotesk', sans-serif;
}

.questionlist{
  display: flex;
  height: 100%;
  width: 70%;
  background-color: white;
}

.qcontainer{
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
}

.qcontainer ul{
  margin: auto;
}

.qcontainer li{
  padding: 20px;
  color: #030c48;
  font-size: 15pt;
  font-weight: 800;
  font-family: 'Schibsted Grotesk', sans-serif;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.typing-fade-out {
  animation: fade-out 1s forwards;
}

@media (max-width: 890px){
  main {
    margin-top: 16vh;
    max-width: 800px;
    min-height: 75vh;
  }

  .welcome{
    height: 650px;
    width: 100vw;
    background-image: url('./img/welcomeheadsmall.jpg');
    overflow: hidden;
  }

  .banner{
    display: none;
  }

  .header {
    height: 10vh;
    padding: 0;
    position: fixed;
    top: 0;
    background: #141c4d;
    color: #fff;
    transition: all 0.5s ease;
    min-height: 80px;
    width: 100vw;
    padding: 0;
  }

  .headertransp {
    position: fixed;
    top: 0px;
    backdrop-filter: blur(8px);
    background: rgba(11, 20, 83, 0.7);
    transition: all 0.5s ease;
    padding: 0;
    height: 10vh;
    width: 100vw;
  }
  
  .header .logo img{
    max-height: 100%;
    padding: 20px;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    width: 100vw;
    left: 0px;
    margin-left: 0px;
  }

  .nav{
    display: none;
  }

  .intro{
    display: flex;
    padding-top: 25vw;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    width: 100vw;
    font-size: 10vw;
  }

  #typing-text {
    padding-top: 3vw;
    color: white; 
    font-family: 'Inconsolata', monospace;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    min-height: 100px;
  }

  .startbutton{
    display: flex;
    padding-top: 1vw;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    margin-top: 100px;
    width: 100vw;
    font-size: 5vw;
  }

  .more{
    cursor: pointer;
    background-color: #655DBB;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 30px;
    color: rgb(238, 229, 229);
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 15pt;
  }

  /*Bagan onanogram*/
  .onanogram{
    display: block;
    margin-top: 60px;
    height: 150vw;
    width: 100vw;
    background-color: white;
  }

  .textonanogram{
    display: none;
  }
  
  .textonanogram2{
    width: 80%;
    text-align: center;
    transition: all 0.5s ease;
    display: block;
    overflow: hidden;
    align-items: center;
    align-self: center;
    margin: auto;
  }
  
  .sambutan2{
    height: 90%;
    line-height: 1.2;
    font-size: 3vw;
    margin: auto;
  }
  
  .onanogrambutton2{
    display: flex;
    bottom: 0;
    padding-top: 6vw;
  }
  
  .onanogrambutton2 a{
    background-color: #676161;
    color: white;
    padding-top: 3vw;
    padding-bottom: 3vw;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    max-width: fit-content;
    border-radius: 30px;
    transition: all 0.5s ease;
    margin: auto;
    font-size: 3vw;
  
  }
  
  .onanogrambutton a:hover{
    background-color: #989090;
    transition: all 0.5s ease;
  }
  
  .ImageHero{
    display: flex;
    justify-content: center;
    height: 70vw;
    width: 100%;
    margin-left: 0;
  }
  
  .ImageHero img{
    border-radius: 100%;
    width: 40%;
    height: auto;
    margin: auto;
  }

  /*slides*/
  .slidersec{
    margin-top: 60px;
    width: 100vw;
    height: 600px;
    background-image: url('./img/sildesbackground.jpg');
    overflow: hidden;
    display: flex;
  }

  .slider{
    width: 80vw;
    height: 50vw;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
  }

  .slides{
    width: 500%;
    height: 50vw;
    display: flex;
  }

  .slides input{
    display: none;
  }

  .slide{
    width: 20%;
    transition: 2s;
  }

  .slide img{
    width: 80vw;
    height: 50vw;
  }

  .navigation-manual{
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }

  .manual-btn:not(:last-child){
    margin-right: 40px;
  }

  .manual-btn:hover{
    background: #40D3DC;
  }


  #slide1:checked ~ .first{
    margin-left: 0;
  }

  #slide2:checked ~ .first{
    margin-left: -20%;
  }

  #slide3:checked ~ .first{
    margin-left: -40%;
  }

  #slide4:checked ~ .first{
    margin-left: -60%;
  }

  .navigation-auto{
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }

  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }

  .navigation-auto div:not(:last-child){
    margin-right: 40px;

  }

  #slide1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }

  #slide2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }

  #slide3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }

  #slide4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

  .majors{
    height: 800px;
  }

  .majorcont{
    height:80%;
  }

  .majortitle p{
    font-size: 40px;
  }

  .rowmajor1{
    height: 35%;
    margin-top: 1vw;
  }
  .rowmajor2{
    display: flex;
    height: 35%;
  }

  .mcard{
    width: 200px;
    max-width: 80%;
  }

  #ET{
    display: none;
  }

  #ET2{
    width: 50%;
  }

  #EB{
    display: none;
  }

  #EB2{
    width: 50%;
  }

  #EL{
    width: 50%;
  }

  #EP{
    width: 50%;
  }
  /*FAQ*/

  .faqsec{
    display: block;
  }

  .faqhero{
    width: 100vw;
    height: 25%;
  }

  .questionlist{
    width: 100vw;
    height: 75%;
  }

  .questionlist li{
    font-size: 12pt;
  }

}